.row1, .row2, .row3 {
    display: flex;
    align-items: center;
    
}
input:focus {
    border-color: blue;
}
.row1 p, .row2 p, .row3 p {
    margin-right: 30px;
}
.row3 input {
    border-color: red;
}
img {
    width: 500px;
    height: 500px;
}
.Container {
    display: flex;
   
    
}

.sideimage {
    position: relative;
    text-align: center;
    margin-right: 30px;

}
.Caption{
   position: relative;
    bottom: 40px;
    font-size: 13px;
}